<!DOCTYPE html>
<html lang="ES">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>Dojo Survey Index</title>
</head>

<body>
    <div class="container">
        <h3>Submitted Container</h3>
        <div class="sub-container">
            <div >
                <div>Name:</div>
                <div>Dojo Location:</div>
                <div>Favorite Language:</div>
                <div>Comments:</div>
            </div>
            <div >
                <div>@ViewBag.FirstName</div>
                <div>@ViewBag.Location</div>
                <div>@ViewBag.Language</div>
                <div>@ViewBag.Comments</div>
            </div>

        </div>
        <div class="btn">
            <button type="submit">Go Back</button>
        </div>
    </div>


</body>

</html>